.column{
    width: 100%;
    float: left;
    /* background: red; */
    display: flex;
    flex-flow: column;
    align-items: stretch;
    flex-direction: row;
    height: 100%;
}

.column-item{
    flex: 1 1 0;
    display: flex;
    /* background: blue; */
}

.form-container{
    width: 50%;
    background: #fdfff4;
    margin: auto;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 3px #ccc;
}

@media only screen and (max-width: 1200px) {
    .form-container{
        width: 90%;
    }
}

.form{
    display: grid;
    padding: 20px;
}